*.blend
*.blend1
*.blend2
*.png
!assets/
!assets/*.png
*.mp4
Render/
assets/models/**/textures/
blenderkit_data/
__pycache__/
*.py[cod]
assets/library/blendkit_bench/*.blend
assets/library/**/textures/
node_modules/
